/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Start Here the code */

body{
    background-color: #1E1E1E;
}

.calculator_bg{
    margin: 30px;
    height: 585px;
    width: 393.5px;
    background-color: #93D94E;
    border-radius: 20px;
    position: relative;
}

.output_border{
    width: 340px;
    height: 117px;
    margin: 34px 26px 0px;
    background: #347355;
    box-shadow: inset 0px 2px 2px 3px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    box-sizing: border-box;
    position: absolute;
}

.output_number{
    width: 321.3px;
    height: 99.45px;
    margin-top: 10px;
    margin-left: 9px;
    text-align: right;
    color: #ffffff;
    font-size: 80px;
    border-style: none;
    outline: none;
    background: #1E1E1E;
    border-radius: 5px;
    box-sizing: border-box;
    position: absolute;
}

.colomn{
    float: left;
    box-sizing: border-box;
}

.ul_colomn{
    list-style-type: none;
}


.button_calculator {
    height: 67.31px;
    width: 67.31px;
    box-sizing: border-box;
    outline: none;
}
.operator button {
    background-color: #3B8C66;
    color: white;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
}

#multiplication_button button, #percent_button button,#plus_minus_button button  {
    font-size: 28px;
}

#division_button button {
    font-size: 40px;
}

.normal_number{
    height: 67.31px;
    width: 67.31px;
    box-sizing: border-box;
}

.normal_number button, .button_0 button{
    background: #233240;
    color: white;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.button_0 {
    margin-top: 495px;
    width: 159.1px;
    height: 67.31px;
    margin-left: 28px;
    box-sizing: border-box;
    position: absolute;
}

.row_2{
    margin-top: 14.28px;
}

.row_3_4_5  {
    margin-top: 12px;
}

button:hover {
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
}
  
button:active {
    /* Add box-shadow effect on active state */
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#ul_colomn_1{
    margin-top: 175px;
    margin-left: 28px;
    text-align: center;
}

#ul_colomn_2{
    margin-top: 175px;
    margin-left: 24.48px;
    text-align: center;
}

#ul_colomn_3, #ul_colomn_4{
    margin-top: 175px;
    margin-left: 22.44px;
    text-align: center;
}

#delete button{
    background-color: black;
}
